html{
    font-size: 18px;
}

body{
    margin: 0;
    padding: 0;
    background-color: #212529;
}

.li{
    margin: 0;
    padding: 0;
}

.header{
    width: 96%;
    margin: 0 auto;
    background-color: #212529;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav{
    width: 32%;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1rem;
}

.nav ul{
    display: flex;
    justify-content: space-evenly;
}

.nav-item{
    list-style: none;
    text-transform: capitalize;
    list-style: none;
}

.nav-item a{
    text-decoration: none;
    font-size: 1rem;
    color: #ffffff;
    transition: all .4s;
}

.nav-item a:hover{
    color: #FFB742;
}

.nav-item a:active{
    color: #FFB742;
    font-size: 2rem;
}

.btn{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    padding: 12px 26px;
    border-radius: 50px;
    background-color: #FFB742;
}

section {
    background-color: #212529;
}

.hero{
    width: 67%;
    margin: 0 auto 136px;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
}

.bansal{
    font-size: 1.78rem;
    font-weight: 700;
}

.designer{
    font-size: 2.67rem;
    font-weight: 700;
}

.things{
    font-size: 1.34rem;
    font-weight: 400;
}

a.kartik{
    color: #FFB742;
    font-weight: 700;
    font-size: 1.78rem;
}

.cardbox{
    width: 90%;
    margin: 0 auto 137px;
    display: flex;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

.card{
    width: 30%;
    background-color: #292B2E;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: .89rem;
    padding: 25px 0;
}

.text{
    text-align: center;
}

.card_text{
    font-size: 1.78rem;
    color: #FFB742;
}

.card_subtitle{
    color: #FFFFFF;
}

.card_margin{
    margin: 0 4.5%;
}

.card:hover {
    cursor: pointer;
    background-color: #FFB742;
}

.card:hover .card_text{
    color: #000000;
}

.card:hover .card_subtitle{
    color: #000000;
}

.card:hover .chevron path{
    fill: #000000;
}

.whoiam_section {
    width: 93%;
    margin: 0 auto 65px;
    display: flex;
}

.whoiam_article{
    margin: 50px 50px;
    font-family: 'Poppins', sans-serif;
}

#maiohw{
    text-align: center;
    text-transform: uppercase;
    color: #FFB742;
    padding: 6px 6px;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 50px;
    width: 10%;
    font-weight: 600;
    font-size: 1.1rem;
}

.aboutme{
    font-family: 'Roboto', sans-serif;
    font-size: 2.67rem;
    font-weight: 700;
    color: #FFFFFF;
    margin: 29px 0;
}

.kartik{
    font-family: 'Poppins', sans-serif;
    color: #D4D4D4;
    font-weight: 400;
    font-size: .89rem;
    margin-bottom: 54px;
}

.btn_about{
    width: 10%;
    text-align: center;
}

.container{
    margin: 0 auto;
    text-align: center;
}

.btn_container{
    width: 10%;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.10rem;
    padding: 6px 25px;
    border-radius: 50px;
    color: #FFB742;
    background-color: rgba(255, 255, 255, 0.08);
    margin: 0 auto;
    text-transform: uppercase;
}

.feature{
    font-family: 'Roboto', sans-serif;
    font-size: 2.67rem;
    font-weight: 700;
    color: #FFFFFF;
    margin: 0 auto;
}

.nav_container ul{
    display: flex;
    justify-content: space-around;
    width: 45%;
    list-style: none;
    margin: 30px auto 55px;
}

.nav_container_items a{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: .89rem;
    color: #FFFFFF;
 }

 .nav_container_items a:hover{
    color: #212529;
    background-color: #FFB742;
    padding: 20px;
 }

.covers{
    width: 85%;
    margin: 0 auto 86px;
}

.covers_row{
    display: flex;
    justify-content: center;
} 

.covers img{
    margin-bottom: 30px;
}

.covers img:nth-child(2){
    margin-right: 1.76rem;
    margin-left: 1.76rem;
}
 
 

.footer{
    background-color: #1C1C1C;
    color: #7B7B7B;
    font-family: 'Work Sans', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-bottom: 4.61rem;
}

.footer div{
    width: 20%;
}

.kartik_footer{
    color: #FFB742;
    font-weight: 700;
    font-size: 1.78rem;
    font-family: 'Poppins', sans-serif;
}

.footer li{
    list-style: none;
    line-height: 2rem;
}

.footer a{
    text-decoration: none;
    color: #FFFFFF;
    text-transform: capitalize;
}

.footer li:hover, .footer a:hover{
    color: #FFB742;
}

.h6{
    font-size: 1.2rem;
    font-weight: 700;
}
