body{
    margin: 0;
    padding: 0;    
    width: 100vw;
    box-sizing: border-box;
}

.header{
    font-family: 'M PLUS 1', sans-serif;
    font-size: 48px;
    font-weight: 400;
    color: #3E45E8;
    text-align: center;
    min-height: 50px;
    max-height: 110px;
    padding: 20px 0;
}

.header_span{
    color: #E8C23E;
}

.banner{
    height: 803px;
    background-image: url(../img/image\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 13%;
    padding-left: 100px;
    
}

.content{
    height: 439px;
    background-image: url(../img/flag.png);
    background-repeat: no-repeat;
    color: #FFFFFF;
    width: 67%;
    box-sizing: border-box;
    font-family: Inika, serif;
    font-size: 48px;
    font-weight: 700;
    padding-left: 40px;
    
}

.main{
    padding: 0 80px;
}

.h1{
    font-size: 40px;
    font-weight: 700;
    padding: 80px 0 50px;
}
    


.line{
    width: 402px;
    border-bottom: 5px solid #3E45E8;
    padding-top: 30px
}

.card{    
    width: 30%;
    color: #1E8DF2;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    border-radius: 50px;
    box-shadow: 0px 4px 57px 3px rgba(0, 0, 0, 0.25);
}

.card_image{
    width: 100%;
}

.card_title{
    font-size: 24px;
    padding: 10px;
    font-weight: 700;
    box-sizing: border-box;
}

.card_subtitle{
    color: #E8C23E;
    font-size: 20px;
    padding: 10px 10px 50px;
}

.card_margin{
    margin: 0 4.5%;
}

.uamap{
    text-align: center;
}

.line_uamap{
    margin: 0 auto;
}

.uamap_img{
    width: 812px;
    margin: 0 auto;
}

.button{
    text-align: center;
    margin: 40px auto;
}

.button a{
    width: 591px;
    font-size: 64px;
    font-weight: 700;
    background-color: #2A61F0;
    padding: 20px 60px;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 64px;
    font-weight: 700;
    
}

.footer{
    font-family: 'M PLUS 1', sans-serif;
    font-size: 48px;
    font-weight: 400;
    color: #3E45E8;
    text-align: center;
    min-height: 50px;
    max-height: 320px;
    background-color: #2F4A4B;
    padding: 20px 0;
}

.contacts{
    font-family: 'Marcellus SC', serif;
    color: #A89D9D;
}

.contacts a{
    color: #A89D9D;
    text-decoration: none;
    font-size: 36px;
}

.social{
    
    
}

ul{
    list-style-type: none;
    
}

li{
    display: inline-block;
}