html{
    font-size: 16px;
}

body{
    margin: 0;
    padding: 0;
    background-color: #F9F9F9;
    font-family: 'Public Sans', sans-serif;
}

label{
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 8px;
}

input{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 21px;
    border-radius: 4px;
}

span{
    color: #D83933;
}

.total_form{
    min-width: 700px;
    max-width: 1000px;
    padding: 64px 45px 0 48px;
}

h1{
    font-weight: 700;
    font-size: 1.5rem;
}

h2{
    font-size: 1.25rem;
    font-weight: 700;
}

.form_top, .form_middle{
    margin: 32px auto;
}

.mandatory{
    font-size: 0.875rem;
    font-weight: 400;
}

.info{
    font-weight: 700;
    font-size: 1.25rem;
}

.form_top{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.form_top div{
    width: 45%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
}
.application input{
    color: #0050D8;
}

.exclus{
    border-bottom: 1px solid black;
}

.form_middle{
    display: flex;
    border-bottom: 1px solid #D1D1D1;
}

.sub_form_middle{
    display: flex;
    padding-bottom: 32px;
}

.form_bottom{
    display: flex;
    flex-wrap: wrap;
    margin: 32px auto;
    border-bottom: 1px solid #D1D1D1;
}

.form_bottom div{
    width: 45%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
}

.footer{
    display: flex;
    flex-wrap: wrap;
}

.footer div{
    width: 45%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
}