html{
    font-size: 16px;
}

body, ul{
    
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
}

a{
    text-decoration: none;
    color: #FFFFFF;
}

.header{
    display: flex;
    justify-content: space-between;
	align-items: center;
    background-color: #202846;
}

.logo{
    margin: 10px 0 10px 6.7%;
}

.nav{
    list-style: none;
    display: flex;
    margin-right: 10px;
    align-items: center;
}

.nav_items{
    width: 15%;
    margin-right: 2%;
    padding-right: 10px;
    text-align: center;
    border-right: 2px solid #FFFFFF;
}

.nav_items:last-child{
    border: none;
}

.nav_items:nth-child(3){
    padding-right: 37px;
}

li.nav_items > a {
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 1.5rem;
    box-sizing: border-box;
}

.section{
    background-color: #C6C6DC;
    padding: 40px 0 40px 227px;
    box-sizing: border-box;
    font-size: 3rem;
    font-weight: 400;
    font-style: italic;
    color: #202846;
}

.main{
    background-color: #DCDCDC;
    position: relative;
}

.cards{
    width: 80%;
    background-color: #DCDCDC;
    margin: 0 auto;
    padding-top: 183px;
    padding-bottom: 51px;
}

.card{
    display: flex;
    background-color: #BDBDC6;
    margin-bottom: 36px;
    position: relative;
}

.photo{
    width: 40%;
    padding: 30px 51px 30px 6.85%;
}

.text{
    width: 60%;
    padding: 25px 87px 30px 51px;
}

.card_title{
    color: #353C57;
    font-style: italic;
    font-weight: 700;
    font-size: 36px;
   
}

.line{
    border-bottom: 3px solid #FFFFFF;
    margin-bottom: 10px;
}

.card_subtitle{
    color: #202846;
    font-weight: 400;
    font-size: 22px;
    text-align: center;
    line-height: 28.47px;
    padding: 10px 20px;
    background-color: #D7D7DD;
}

.star {
    position: absolute;
    top: 17px;
    right: 17px;
}

.card:hover > .star svg>path{
    fill: yellow;
}

.details{
    font-weight: 400;
    font-size: 1.5rem;
    
    background-color: #202846;
    width: 200px;
    height: 60px;
    position: absolute;
    bottom: 20px;
    right: -50px;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 30px;
}

.arrow{
    position: fixed;
    bottom: 361px;
    right: 55px;
}

.footer{
    background-color: #202846;
    color: #EEECF1;
    font-weight: 400;
    font-style: italic;
    font-size: 2.25rem;
    padding: 27px 0 27px 6.25%;
}