body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #E5E5E5;
}

.row {
    margin: 100px auto;
    display: flex;
}

.speechify_square {
    position: relative;
}

.glyph_square {
    position: absolute;
    top: 155px;
    left: 80px;
}

.speechify_circle {
    margin-left: 100px;
    position: relative;
    width: 512px;
    height: 512px;

}

.border {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("../img/Border.png");
}

.glyph_circle {
    position: absolute;
    top: 250px;
    left: 80px;
}

.blue_color {
    width: 512px;
    height: 256px;
    background-color: #2137FC;
}

.yellow_color {
    width: 512px;
    height: 256px;
    background-color: #FFCE22;
}

.petcube_square {
    position: relative;
}

.cube {
    position: absolute;
    top: 70px;
}

.petcube_circle {
    margin-left: 100px;
    position: relative;
    width: 512px;
    height: 512px;
}

.petcube {
    top: 60px;
    left: 90px;
}

.spark_square {
    position: relative;
    width: 512px;
    height: 512px;
}

.plane {
    position: absolute;
    top: 130px;
    left: 175px;
}

.spark_circle{
    margin-left: 100px;
    position: relative;
}

.smallplane{
    position: absolute;
    top: 100px;
    left: 120px;
}

.diia_square {
    position: relative;
    width: 512px;
    height: 512px;
}

.diia{
    position: absolute;
    top: 160px;
    left: 90px;
}

.diia_flag{
    width: 512px;
    height: 512px;
    margin-left: 100px;
    background-color: #000000;
    position: relative;
}

.flag{
    width: 80px;
    height: 60px;
    background-image: url("../img/Flag.png");
    position: absolute;
    top: 350px;
    left: 200px;
}

.flag_middle{
    top: 23px;
    left: 21px;
}

.flag_right{
    top: 23px;
    left: 400px;
}